<div class="emitidos entidades-view">

    <h2>Entidades Registradas</h2>

    <div class="emitidos-toolbar">
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
    </div>

    <form id="entidadForm">
        
        <input placeholder="Nombre completo" id="nombre" required />
        <input placeholder="Documento" id="documento" />
        <input placeholder="Teléfono" id="telefono" />
        <input placeholder="Ciudad" id="ciudad" />

        <button type="submit">Guardar entidad</button>
    </form>

    <div class="entidades-header">
        <span>id</span>
        <span>Nombre</span>
        <span>Documento</span>
        <span>Teléfono</span>
        <span>Ciudad</span>
        <span></span>
    </div>

    <div id="entidades-list"></div>

</div>