body {
    margin: 0;
    background: #0f172a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
    color: rgb(255, 255, 255);
    animation: fadeIn 0.4s ease-in;
}

.splash {
    text-align: center;
}

.credits {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits p{
    font-size: 13px;
    color: #bbb;
    line-height: 90%;
}

.logo {
    width: 140px;
    margin-bottom: 5px;
    animation: pulse 1.4s infinite ease-in-out;
}
.logoDev {width: 100px}

@keyframes pulse {
    0% { transform: scale(1); opacity: .6; }
    50% { transform: scale(1.05); opacity: 1; }
    100% { transform: scale(1); opacity: .6; }
}

.fade-out {
    animation: fadeOut 0.4s ease-out forwards;
}

@keyframes fadeOut {
    to { opacity: 0; }
}
